/************* GENERAL ******************/
body {
	background: black url("/static/eshrine/graphics/fire-bg.jpg") no-repeat center top;
	background-size: 100%;
}

h1 {
	text-align: center;
	color:#CC6600;
	font-size: 40px;
	text-shadow: 8px 8px 2px rgb(80, 0, 0);
	width: 100%;
}

h2 {
	color: #CC6600;
	font-size: 20px;
	text-shadow: 2px 2px 2px #000;
}

a:link {
	color: rgb(30,170,255);
}

a:visited {
	color: rgb(30,170,255);
}

a:hover {
	color: rgb(0,70,155);
}

a:active {
	color: #FFFFFF;
}

li {
	margin-bottom: 10px;
}

.eshrine {
	width: 960px;
	color: #fff;
	font-size: 18px;
	font-family: 'Georgia';
	margin-left: auto;
	margin-right: auto;
}

.eshrine-element {
	background-color: rgba(40, 0, 0, 0.5);
	border-radius: 10px;
	padding: 15px;
	margin: 15px;
	overflow: auto;
}

.eshrine-element:hover {
		background-color: rgba(60, 10, 0, 0.7);
}
/************* /GENERAL ******************/

/************* HOMEPAGE ******************/
.eshrine-wrapper {
	background: transparent url("/static/eshrine/graphics/candles-bg-50-pictures.jpg") no-repeat center bottom;
	text-shadow: 2px 2px 2px #000;
	height: 70%;
}

.eshrine-list {
	font-size: 14px;
}

.home-element {
	height: 480px;
}
/************* /HOMEPAGE ******************/


/************* NAVIGATION ******************/
.navigation {
	text-align: left;
	font-size: 16px;
	float: left;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 150px;
	line-height: 20px;
}

.navigation a:hover {
	font-weight: bold;
}
/************* /NAVIGATION ******************/

/************* FORMS ******************/
.prayer-form {
	border:1px solid #CC6600;
	width:70%;
	padding:5px;
	margin:5px;
}

.prayer-form-element {
	width:96%;
	margin: 0px;
	padding: 5px;
	border: 1px solid rgb(150, 150, 0);
	border-radius: 3px;
	color: rgb(150, 150, 0);
	font-family: 'Georgia';
	font-size:12px;
}

.prayer-button {
	width: 220px;
	border-radius: 4px;
	text-shadow: 2px 2px 2px #000;
	color: white;
	font-size: 16px;
	text-align: center;
	padding:5px;
	margin:5px;
	background-color: #ff3300; /* fallback */
	background: -moz-linear-gradient(top, #ffcc00, #ff3300);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff3300));
	background: -o-linear-gradient(top, #ff4d55, #cc1d31);
}

.prayer-title {
	color: #CC6600;
	display: inline;
}

.prayer-button:hover {
	-webkit-animation-name: prayer;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-name: prayer;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.prayer-missing-req {
	-webkit-animation-name: missing-req;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 5;
	-webkit-animation-direction: normal;
	animation-name: missing-req;
	animation-duration: 0.8s;
	animation-iteration-count: 3;
	animation-direction: normal;
}

@keyframes prayer {
	0% {
		color:rgba(0, 0, 0, 1);
	}
	100% {
		color:rgba(0, 0, 0, 0);
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
	}
}

@-webkit-keyframes prayer {
	0% {
		color:rgba(255, 255, 255, 1);
	}
	50% {
		color:rgba(255, 255, 255, 0);
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
	}
}

@keyframes missing-req {
	0% {
		background-color: white;
	}
	50% {
		background-color:rgb(200, 0, 0);
	}
	100% {
		background-color: white;
	}
}

@-webkit-keyframes missing-req {
	0% {
		background-color: white;
	}
	50% {
		background-color:rgb(200, 0, 0);
	}
	100% {
		background-color: white;
	}
}
/************* /FORMS ******************/