{% load staticfiles %}

<html dir="rtl">
<head>
	<title>Understanding the Tzi</title>
	<link rel="stylesheet" type="text/css" href="/static/eshrine/shrine-style.css" />
	<link rel="shortcut icon" href="/static/eshrine/graphics/favicon.ico" />
</head>
<body>
	{% include "navigation.html" %}
	<div class="eshrine" style="text-align:right;width:50%;font-family:'David';font-size:18px;">
		<h1>The Holy Tzictionary</h1>
			{% for entry in words %}
				<div class="eshrine-element" style="margin:10px;">
					<div style="font-size:16px;font-style:italic;color:rgb(180,180,50);text-align:left;">Author: {{ entry.author }}</div>
					<div style="color:#CC6600;display:inline;text-shadow: 2px 2px black">{{ entry.word }}</div>: {{ entry.definition }} <br>
				</div>
			{% endfor %}
	</div>
</body>
</html>